<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Gas Tracking - Quantified</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">


</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="material-icons">directions_car</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/profile">Frequent Locations</a></li>
        <li><a class="modal-trigger-regular" href="#preferences">Preferences</a></li>
        <li><a href="/tipshelp">Tips and Help</a></li>
        <li><a href="/placeholder">Log Out</a></li>
        <li><a class="modal-trigger-regular" href="#help">?</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/profile">Frequent Locations</a></li>
        <li><a class="modal-trigger-sidebar" href="#preferences">Preferences</a></li>
        <li><a href="/tipshelp">Tips and Help</a></li>
        <li><a href="/placeholder">Log Out</a></li>
        <li><a class="modal-trigger-regular" href="#help">?</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Gas Tracker</h1>
      <div class="row center">
        <h5 class="header col s12 light">A quantified way of tracking personal vehicle information</h5>
          
          
      </div>
      <div class="row center">
          <style>
            .map {
                position: relative;
                padding-bottom: 75%; // This is the aspect ratio
                height: 0;
                overflow: hidden;
            }
            .map iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }

            .scrolloff {
                pointer-events: none;
          }
        </style>

        <script>
            $(document).ready(function () {

                // you want to enable the pointer events only on click;

                $('#map_canvas1').addClass('scrolloff'); // set the pointer events to none on doc ready
                $('#canvas1').on('click', function () {
                    $('#map_canvas1').removeClass('scrolloff'); // set the pointer events true on click
                });

                // you want to disable pointer events when the mouse leave the canvas area;

                $("#map_canvas1").mouseleave(function () {
                    $('#map_canvas1').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
                });
            });
        </script>

        <section id="canvas1" class="map">
             <iframe id="map_canvas1" src="https://maps.google.com/maps?hl=en&q=La Jolla&ie=UTF8&t=hybrid&z=15&iwloc=B&output=embed" width="175" height="110" frameborder="0" style="border: 0"></iframe>
        </section>
          


          <p>

        <a href="#fillup" class="btn-large waves-effect waves-light orange modal-trigger-fillup">ADD FILLUP</a>

      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row center">
        <div class="header col s12 light">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">local_gas_station</i></h2>
            <h5 class="center">Recent Fillups</h5>

            
            <table class="centered fillup-fable">
            <thead>
            <tr>
            <th>More Info</th>
            <th data-field="date">Date</th>
            <th data-field="name">Gas Station</th>
            <th data-field="price">Price</th>
            <th data-field="mpg">MPG</th>
            </tr>
            </thead>

            <tbody class="tbodz">
<!--             <tr>
            <td>2/3/2016</td>
            <td>Chevron</td>
            <td>7475 La Jolla Blvd</td>
            <td>$2.84/regular</td>
            <td>3 miles away</td>
            </tr>
            <tr>
            <td>1/18/2016</td>
            <td>Chevron</td>
            <td>7475 La Jolla Blvd</td>
            <td>$2.97/regular</td>
            <td>3 miles away</td>
            </tr>    
            </tbody> -->
            {{#each fillups}}
            <tr>

  <!-- Dropdown Structure -->
            <td> <a class='dropdown-button btn' href='#' data-activates='dropdown1'> </a> </td>
            <td class="date"><a class="dateItem">{{date}}</a></td>
            <td class="name"><a class="nameItem">{{name}}</a></td>
            <td class="price"><a class="ppgItem">${{calculatePPG price amount}}</a></td>
            <td class="mpg"><a class="mpgItem">{{calculateMPG miles amount}} mpg</a></td>
            <ul id='dropdown1' class='dropdown-content'>
            <li> Address: {{address}}</li>
            <li> Total Price: ${{price}}</li>
            <li> Total Amount: {{amount}} gallons</li>
            <li> Total Miles: {{miles}} miles</li>
            <li> Note: {{note}}</li>
            </ul>
            </tr>
            {{/each}}
            </tbody>
            </table>


            </div>
            </div>
            </div>

            </div>
            <br><br>

    <div class="section">
    </div>
  </div>

    
  <!-- Modal Structure -->
  <div id="preferences" class="modal">
    <div class="modal-content container">
    <div class="row">
    <div class col s8>
      <h4>Preferences</h4>
      <p>Distance to Price Favoring</p>
         <form action="#">
            <p class="range-field">
              <input type="range" id="pref" name ="pref" min="0" max="100" />
            </p>
          </form>
        <div class="input-field col s12">
          <input id="odometer" type="number" name="odometer" class="validate">
          <label for="odometer">Total Miles</label>
        </div>
        <div class="input-field col s12">
          <input id="expectedmpg" type="number" name="expectedmpg" class="validate">
          <label for="expectedmpg">Expected MPG</label>
        </div>
        <div class="input-field col s12">
          <input id="oil" type="number" name="oil" class="validate">
          <label for="oil">Miles at Last Oil Change</label>
        </div>
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">87</option>
          <option value="2">89</option>
          <option value="3">91</option>
          <option value="4">Diesel</option>
        </select>
        <label>Fuel Type</label>
      </div>
        <div class="input-field col s4">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">2014</option>
        </select>
        <label>Year</label>
      </div>
        <div class="input-field col s4">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Honda</option>
        </select>
        <label>Make</label>
      </div>
        <div class="input-field col s4">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Civic</option>
        </select>
        <label>Model</label>
      </div>
    
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" id="submitBtn" class="btn-large waves-effect waves-light orange" value="Update Preferences"></input>
    </div>
    </div>
  </div>

  <h2 class="fillupHeader">Hi</h2>
  <div class="container fillupCon">
      <div class="row center">
          <div class="col s6">

              <p class="fillupDate"></p>
          </div>
      </div>
  </div>


 <!-- Modal Structure -->
  <div id="help" class="modal">
    <div class="modal-content container">
    <div class="row">
    <div class col s8>
      <h4>Help Page</h4>
      <p>Click the "Add Fill-up" button below to add a recent fill up</p>
      <p>To set your destinations used in calculating the best gas station for you, click "Frequent Locations" to manage your destinations</p>
      <p>For settings such as how much you value money vs. time, click "Preferences".</p>
      <p>The "Tips and Help" page contains tips and tricks recommended for you to get maximize your automobile experience</p>
      <p>The waypoint on the map below marks your recommended gas station, while the star represents your current location.</p>
         
    
        </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" id="modal-agree" class="modal-action modal-close waves-effect waves-green btn-flat close-sidebar">Back</a>
    </div>
  </div>





    <div id="fillup" class="modal">
    <div class="modal-content container">
    <div class="row">
    <div class col s8>
      <form id="addFriendForm" role="form" method="get" action="/addfillup">
      <h3>Add a Fillup</h3>
        <div class="input-field col s12">
          <input type="date" class="datepicker" name="date">
          <label for="date">Date</label>
        </div>
        <div class="input-field col s12">
          <input id="name" type="text" class="form-control" name="name">
          <label for="name">Station Name</label>
        </div>
        <div class="input-field col s12">
          <input id="address" type="text" class="form-control" name="address">
          <label for="address">Station Address</label>
        </div>
        <div class="input-field col s12">
          <input id="price" type="number" class="form-control" step="0.01" name="price">
          <label for="price">Total Price Paid</label>
        </div>
        <div class="input-field col s12">
          <input id="amount" type="number" class="form-control" step="0.01" name="amount">
          <label for="amount">Total Amount Filled (Gallons)</label>
        </div>
        <div class="input-field col s12">
          <input id="miles" type="number" class="form-control" step="0.01" name="miles">
          <label for="miles">Total Trip Miles</label>
        </div>
        <div class="input-field col s12">
          <textarea id="note" class="materialize-textarea" name="note"></textarea>
          <label for="note">Note</label>
        </div>
        <div class="center-align">
          <input type="submit" id="submitBtn" class="btn-large waves-effect waves-light orange" value="Add Fillup"></input>
        </div>
  </form>
    
        </div>
        </div>
    </div>
  </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/quantified.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
  <script>
  $(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger-regular').leanModal();
    $('.modal-trigger-sidebar').leanModal();
    $('.modal-trigger-fillup').leanModal();
    $('select').material_select();
});
  $('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15 // Creates a dropdown of 15 years to control year
});


  $(document).ready(function($) {
//  $(".mpg").click(function() {
//      console.log($(".mpg").text());
//      console.log("clicked");
//      });
//  });
      $(function() {
        var dataTable = $('.fillup-fable').dataTable();

          //TODO MAKE THE ITEMS APPEAR AT THE NEW DIV
          $('.dateItem').click(function() {
              var row = $(this).closest('tr').find('td').eq(2).text();
              console.log(row);
              updateFillupInfo(row);
              //var nRow = row[2];
          })
      });
  })

  function updateFillupInfo(text){
      console.log(text);
      var current = $('#fillupHeader').text();
      console.log(current);
  }

  </script>



  </body>
</html>
