div
  .h1
   .text-center  "CURRENT MONTH & YR"
    .row
      .col-md-6.text-center
        .btn-group
          button.btn.btn-primary.ng-isolate-scope(mwl-date-modifier='', date='calendarDay', decrement='calendarView') Previous

          button.btn.btn-default.ng-isolate-scope(mwl-date-modifier='', date='calendarDay', set-to-today='') Today

          button.btn.btn-primary.ng-isolate-scope(mwl-date-modifier='', date='calendarDay', increment='calendarView') Next

      br.visible-xs.visible-sm

      .col-md-6.text-center
        .btn-group
          label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(ng-model='calendarView', btn-radio="'year'") Year

          label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(ng-model='calendarView', btn-radio="'month'") Month

          label.btn.btn-primary.ng-untouched.ng-valid.active.ng-dirty.ng-valid-parse(ng-model='calendarView', btn-radio="'week'") Week

          label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(ng-model='calendarView', btn-radio="'day'") Day


   .h3
     .text "USERNAME" Calendar
      .h5.
        <mwl-calendar
          view="calendarView"
          current-day="calendarDay"
          events="events"
          view-title="Calendar"
          on-event-click="eventClicked(calendarEvent)"
          edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
          delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
          on-edit-event-click="eventEdited(calendarEvent)"
          on-delete-event-click="eventDeleted(calendarEvent)"
          auto-open="true">
        </mwl-calendar>

